<link href='http://fonts.googleapis.com/css?family=Raleway:500' rel='stylesheet' type='text/css' />
<link rel="stylesheet" type="text/css" href="/static/loginstyle.css" />
<link rel="stylesheet" type="text/css" href="/static/bootstrap.css" />
<link rel="stylesheet" type="text/css" href="/static/bootstrap-social.css" />
<link rel="stylesheet" type="text/css" href="/static/font-awesome/css/font-awesome.css" />
<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>

<head>
<title>EngServ Login Page</title>
</head>

<body>
<script>
    document.cookie = "id=" + {{ user.id }}
</script>
<div class="middlePage">
    <div class="page-header">
        <h1 class="logo">EServ <small>Authentication service webpage</small></h1>
    </div>

    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">Please Sign In</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-4" style="border-left:1px solid #ccc;height:160px">
                    {% if user.fb == False %}
                        <a href="/auth/api/users/login/facebook" class="btn btn-block btn-social btn-facebook">
                            <i class="fa fa-facebook"></i>  Facebook
                        </a>
                    {% else %}
                        <h3>Hello, {{ user.name }}!</h3>
                    {% endif %}
                </div>
                <div class="col-md-4" style="border-left:1px solid #ccc;height:160px">
                    {% if user.tw == False %}
                        <a href="/auth/api/users/login/twitter" class="btn btn-block btn-social btn-twitter">
                            <i class="fa fa-twitter"></i>  Twitter
                        </a>
                    {% else %}
                        <h3>Hello, {{ user.name }}!</h3>
                    {% endif %}
                </div>
                <div class="col-md-4" style="border-left:1px solid #ccc;height:160px">
                    {% if user.gg == False %}
                        <a href="/auth/api/users/login/google" class="btn btn-block btn-social btn-google">
                            <i class="fa fa-google"></i>  Google
                        </a>
                    {% else %}
                        <h3>Hello, {{ user.name }}!</h3>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
</body>