<!DOCTYPE html>
<html lang="en">

<link rel="stylesheet" type="text/css" href="/static/bootstrap.css" />
<link rel="stylesheet" type="text/css" href="/static/bootstrap-social.css" />
<link rel="stylesheet" type="text/css" href="/static/font-awesome/css/font-awesome.css" />
<link rel="stylesheet" type="text/css" href="/static/twitterstyle.css" />
<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='codebird.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='cookie.min.js') }}"></script>
<script type="text/javascript">
    var cb = new Codebird;
    cb.setConsumerKey("AAAMLSOPNuRwiWP1C2ccIHTKn", "63qLnliFUdQtmITYvB3G8sN8g1xlzLFplOzdfL1uablGATgMZj");
</script>

<head>
    <title>Twitter Login JavaScript Example</title>
    <meta charset="UTF-8">
</head>
<body>

<div class="middlePage">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">Please enter the PIN</h3>
        </div>
        <div class="panel-body">
            <input id="PINFIELD" type="text" placeholder="Enter PIN from Twitter here" class="form-control">
            <button id="submit" type="button" class="btn btn-lg btn-info">Submit</button>
            <div id="status"></div>
        </div>
    </div>
</div>

<script>
    if(exists()) {
        var token = cookie('token');
        var secret = cookie(token);

        cb.setToken(token, secret);

        cb.__call(
                "account_verifyCredentials",
                {},
                function (reply) {
                    console.log(reply);
                    document.getElementById('status').innerHTML =
                            'Thanks for logging in, ' + reply.name + '!'
                    console.log(token);
                    console.log(secret);

                    addToDB(token, secret);
                }
        );
    } else {
        // gets a request token
        cb.__call(
                "oauth_requestToken",
                {oauth_callback: "oob"},
                function (reply, rate, err) {
                    if (err) {
                        console.log("error response or timeout exceeded" + err.error);
                    }
                    if (reply) {
                        // stores it
                        cb.setToken(reply.oauth_token, reply.oauth_token_secret);

                        // gets the authorize screen URL
                        cb.__call(
                                "oauth_authorize",
                                {},
                                function (auth_url) {
                                    window.codebird_auth = window.open(auth_url);
                                }
                        );
                    }
                }
        );

        $(function () {
            $('#submit').on('click', function (e) {
                cb.__call(
                        "oauth_accessToken",
                        {oauth_verifier: document.getElementById("PINFIELD").value},
                        function (reply, rate, err) {
                            if (err) {
                                console.log("error response or timeout exceeded" + err.error);
                            }
                            if (reply) {
                                // store the authenticated token, which may be different from the request token (!)
                                cb.setToken(reply.oauth_token, reply.oauth_token_secret);
                                var token = reply.oauth_token;
                                var secret = reply.oauth_token_secret;

                                cb.__call(
                                        "account_verifyCredentials",
                                        {},
                                        function (reply) {
                                            console.log(reply);
                                            document.getElementById('status').innerHTML =
                                                    'Thanks for logging in, ' + reply.name + '!'
                                            console.log(token);
                                            console.log(secret);

                                            cookie.set('token', token);
                                            cookie.set(token, secret);

                                            addToDB(token, secret);
                                        }
                                );
                            }
                        }
                );
            });
        });
    }

    function exists() {
        if (typeof cookie('token') != 'undefined') {
            console.log("There is a cookie!");
            return true;
        } else {
            console.log("No more cookies for you!");
            return false;
        }
    }

    function addToDB(token, secret) {
        var json = '{"network":"twitter", "token":"' + token + '", "secret":"' + secret + '"}';

        $.ajax({
            url: 'http://localhost:5000/auth/api/users/login/addToDB',
            type: 'POST',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: json,
            success: function () {
                alert('POST completed');
            },
            error: function () {
                alert('nothing happened');
            }
        });
    }
</script>
</body>
</html>